<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>font-name-aliases</key>
    <dict>
        <!-- N.B. 'system-font' is also available as an alias; it will be mapped to the actual system font at runtime. -->
        <key>light</key>
        <string>Avenir Next Ultra Light</string>
        <key>light-italic</key>
        <string>Avenir Next Ultra Light Italic</string>
        <key>regular</key>
        <string>Lucida Grande</string>
        <key>sidebar</key>
        <string>Lucida Grande</string>
        <key>forecast</key>
        <string>HelveticaNeue-Medium</string>
        <key>regular-italic</key>
        <string>Lucida Grande Italic</string>
        <key>semibold</key>
        <string>Avenir Next Bold</string>
        <key>semibold-italic</key>
        <string>Avenir Next Bold Italic</string>
    </dict>
    <key>global-font-feature-settings</key>
    <array>
        <dict>
            <key>CTFeatureTypeIdentifier</key>
            <!-- kNumberSpacingType -->
            <integer>6</integer>
            <key>CTFeatureSelectorIdentifier</key>
            <!-- kProportionalNumbersSelector -->
            <integer>1</integer> 
        </dict>
        <dict>
            <key>CTFeatureTypeIdentifier</key>
            <!-- kStylisticAlternativesType -->
            <integer>35</integer>
            <key>CTFeatureSelectorIdentifier</key>
            <!-- kStylisticAltSixOnSelector -->
            <integer>12</integer> 
        </dict>
    </array>
    <key>fixed-styles</key>
    <dict>
        <key>OFITextStyleSidebarTitle</key>
        <dict>
            <key>font-name</key>
            <string>sidebar</string>
            <key>font-size</key>
            <real>11</real>
        </dict>
        <key>OFITextStyleSidebarBadgeCount</key>
        <dict>
            <key>font-name</key>
            <string>semibold</string>
            <key>font-size</key>
            <real>13</real>
        </dict>
        <key>OFITextStyleSidebarTabTitle</key>
        <dict>
            <key>font-name</key>
            <string>semibold</string>
            <key>font-size</key>
            <real>10</real>
        </dict>
        <key>OFITextStyleForecastSidebarMiniLabel</key>
        <dict>
            <key>font-name</key>
            <string>semibold</string>
            <key>font-size</key>
            <real>10</real>
        </dict>
        <key>OFITextStyleForecastSidebarLabel</key>
        <dict>
            <key>font-name</key>
            <string>forecast</string>
            <key>font-size</key>
            <real>17</real>
        </dict>
        <key>OFITextStyleForecastEventTimelineGridlineLabel</key>
        <dict>
            <key>font-name</key>
            <string>regular</string>
            <key>font-size</key>
            <real>10</real>
        </dict>
        <key>OFITextStyleInspectorSidebarNoteBody</key>
        <dict>
            <key>font-name</key>
            <string>system-font</string>
            <key>font-size</key>
            <real>11</real>
        </dict>
        <key>OFITextStyleForecastCalendarEventTitle</key>
        <dict>
            <key>font-name</key>
            <string>regular</string>
            <key>font-size</key>
            <real>12</real>
        </dict>
        <key>OFITextStyleNoContentTitle</key>
        <dict>
            <key>font-name</key>
            <string>regular</string>
            <key>font-size</key>
            <real>27</real>
        </dict>
        <key>OFITextStyleNoContentNote</key>
        <dict>
            <key>font-name</key>
            <string>regular</string>
            <key>font-size</key>
            <real>16</real>
        </dict>
    </dict>
    <key>scalable-styles</key>
    <dict>
        <key>OFITextStyleFolderTitle</key>
        <dict>
            <key>font-name</key>
            <string>semibold</string>
            <key>content-sizes</key>
            <array>
                <real>15</real>
                <real>16</real>
                <real>20</real>
                <real>22</real>
                <real>24</real>
            </array>
        </dict>
        <key>OFITextStyleProjectTitle</key>
        <dict>
            <key>font-name</key>
            <string>semibold</string>
            <key>content-sizes</key>
            <array>
                <real>15</real>
                <real>16</real>
                <real>20</real>
                <real>22</real>
                <real>24</real>
            </array>
        </dict>
        <key>OFITextStyleContextTitle</key>
        <dict>
            <key>font-name</key>
            <string>semibold</string>
            <key>content-sizes</key>
            <array>
                <real>15</real>
                <real>16</real>
                <real>20</real>
                <real>22</real>
                <real>24</real>
            </array>
        </dict>
        <key>OFITextStyleCollationGroupTitle</key>
        <dict>
            <key>font-name</key>
            <string>semibold</string>
            <key>content-sizes</key>
            <array>
                <real>12</real>
                <real>13</real>
                <real>17</real>
                <real>19</real>
                <real>21</real>
            </array>
        </dict>
        <key>OFITextStyleActionTitle</key>
        <dict>
            <key>font-name</key>
            <string>regular</string>
            <key>content-sizes</key>
            <array>
                <real>11</real>
                <real>12</real>
                <real>14</real>
                <real>16</real>
                <real>17</real>
            </array>
        </dict>
        <key>OFITextStyleActionGroupTitle</key>
        <dict>
            <key>base-style</key>
            <string>OFITextStyleActionTitle</string>
            <key>font-name</key>
            <string>semibold</string>
        </dict>
        <key>OFITextStyleMetadata</key>
        <dict>
            <key>font-name</key>
            <string>semibold</string>
            <key>content-sizes</key>
            <array>
                <real>10</real>
                <real>11</real>
                <real>12</real>
                <real>13</real>
                <real>15</real>
            </array>
        </dict>
        <key>OFITextStyleDateTimeMetadata</key>
        <dict>
            <key>base-style</key>
            <string>OFITextStyleMetadata</string>
            <key>font-feature-settings</key>
            <array>
                <dict>
                    <key>CTFeatureTypeIdentifier</key>
                    <!-- kCharacterAlternativesType -->
                    <integer>17</integer>
                    <key>CTFeatureSelectorIdentifier</key>
                    <integer>1</integer> 
                </dict>
            </array>
        </dict>
        <key>OFITextStyleInheritedDateTimeMetadata</key>
        <dict>
            <key>base-style</key>
            <string>OFITextStyleDateTimeMetadata</string>
            <key>font-name</key>
            <string>semibold-italic</string>
        </dict>
        <key>OFITextStyleNoteBody</key>
        <dict>
            <key>font-name</key>
            <string>regular</string>
            <key>content-sizes</key>
            <array>
                <real>10</real>
                <real>11</real>
                <real>12</real>
                <real>13</real>
                <real>15</real>
            </array>
        </dict>
        <key>OFITextStyleForecastMinorCollationGroupTitle</key>
        <dict>
            <key>font-name</key>
            <string>semibold</string>
            <key>content-sizes</key>
            <array>
                <real>10</real>
                <real>11</real>
                <real>12</real>
                <real>13</real>
                <real>15</real>
            </array>
        </dict>
    </dict>
</dict>
</plist>
